<a href="https://colab.research.google.com/github/subhamyadav580/Data-Analysis-with-IPL-Dataset/blob/main/IPL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [4]:
!ls

drive  sample_data

In [5]:
%cd /content/drive/My Drive/kaggle/fastai/courses/ml1/

/content/drive/My Drive/kaggle/fastai/courses/ml1

In [6]:
import matplotlib.pyplot as plt
import collections
import seaborn as sns
import numpy as np
import pandas as pd
import plotly
import plotly.express as px
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, plot, iplot
from plotly import tools
from warnings import filterwarnings
filterwarnings('ignore')

In [7]:
PATH = 'data/IPL/'

In [8]:
!ls {PATH}

'IPL Ball-by-Ball 2008-2020.csv'  'IPL Matches 2008-2020.csv'

In [9]:
bobData = pd.read_csv(f'{PATH}IPL Ball-by-Ball 2008-2020.csv', low_memory=False)
matchData = pd.read_csv(f'{PATH}IPL Matches 2008-2020.csv', low_memory=False)

In [10]:
bobData.head()

       id  inning  ...           batting_team                 bowling_team
0  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 18 columns]

In [11]:
matchData.head()

       id        city        date  ... method    umpire1         umpire2
0  335982   Bangalore  2008-04-18  ...    NaN  Asad Rauf     RE Koertzen
1  335983  Chandigarh  2008-04-19  ...    NaN  MR Benson      SL Shastri
2  335984       Delhi  2008-04-19  ...    NaN  Aleem Dar  GA Pratapkumar
3  335985      Mumbai  2008-04-20  ...    NaN   SJ Davis       DJ Harper
4  335986     Kolkata  2008-04-20  ...    NaN  BF Bowden     K Hariharan

[5 rows x 17 columns]

In [12]:
(bobData.describe(include='all').T)

                   count unique  ...          75%          max
id                193468    NaN  ...  1.08263e+06  1.23718e+06
inning            193468    NaN  ...            2            2
over              193468    NaN  ...           14           19
ball              193468    NaN  ...            5            9
batsman           193468    537  ...          NaN          NaN
non_striker       193468    530  ...          NaN          NaN
bowler            193468    420  ...          NaN          NaN
batsman_runs      193468    NaN  ...            1            6
extra_runs        193468    NaN  ...            0            7
total_runs        193468    NaN  ...            1            7
non_boundary      193468    NaN  ...            0            1
is_wicket         193468    NaN  ...            0            1
dismissal_kind      9495      9  ...          NaN          NaN
player_dismissed    9495    506  ...          NaN          NaN
fielder             6784    879  ...          NaN          NaN
extras_type        10233      5  ...          NaN          NaN
batting_team      193468     15  ...          NaN          NaN
bowling_team      193277     15  ...          NaN          NaN

[18 rows x 11 columns]

# Data Cleaning

In [13]:
matchData.head()

       id        city        date  ... method    umpire1         umpire2
0  335982   Bangalore  2008-04-18  ...    NaN  Asad Rauf     RE Koertzen
1  335983  Chandigarh  2008-04-19  ...    NaN  MR Benson      SL Shastri
2  335984       Delhi  2008-04-19  ...    NaN  Aleem Dar  GA Pratapkumar
3  335985      Mumbai  2008-04-20  ...    NaN   SJ Davis       DJ Harper
4  335986     Kolkata  2008-04-20  ...    NaN  BF Bowden     K Hariharan

[5 rows x 17 columns]

In [14]:
matchData.dtypes

id                   int64
city                object
date                object
player_of_match     object
venue               object
neutral_venue        int64
team1               object
team2               object
toss_winner         object
toss_decision       object
winner              object
result              object
result_margin      float64
eliminator          object
method              object
umpire1             object
umpire2             object
dtype: object

In [15]:
matchData.city.unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Kochi', 'Indore', 'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi',
       'Abu Dhabi', nan, 'Rajkot', 'Kanpur', 'Bengaluru', 'Dubai',
       'Sharjah'], dtype=object)

In [16]:
matchData.team1.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [17]:
matchData.team1.replace({'Rising Pune Supergiants':'Rising Pune Supergiant'}, regex=True, inplace=True)

In [18]:
matchData.team1.unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiant', 'Delhi Capitals'],
      dtype=object)

In [19]:
matchData.team2.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Deccan Chargers',
       'Kings XI Punjab', 'Delhi Daredevils', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [20]:
matchData.toss_winner.unique()

array(['Royal Challengers Bangalore', 'Chennai Super Kings',
       'Rajasthan Royals', 'Mumbai Indians', 'Deccan Chargers',
       'Kings XI Punjab', 'Kolkata Knight Riders', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [21]:
matchData.winner.unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Delhi Daredevils',
       'Royal Challengers Bangalore', 'Rajasthan Royals',
       'Kings XI Punjab', 'Deccan Chargers', 'Mumbai Indians',
       'Pune Warriors', 'Kochi Tuskers Kerala', nan,
       'Sunrisers Hyderabad', 'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [22]:
matchData.team2.replace({'Rising Pune Supergiants':'Rising Pune Supergiant'}, regex=True, inplace=True)
matchData.toss_winner.replace({'Rising Pune Supergiants':'Rising Pune Supergiant'}, regex=True, inplace=True)
matchData.winner.replace({'Rising Pune Supergiants':'Rising Pune Supergiant'}, regex=True, inplace=True)

In [23]:
matchData.venue.unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Holkar Cricket Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Saurashtra Cricket Association Stadium', 'Green Park',
       'M.Chinnaswamy Stadium'], dtype=object)

In [24]:
matchData.venue.replace({'M Chinnaswamy Stadium' : 'M.Chinnaswamy Stadium', 'Punjab Cricket Association IS Bindra Stadium, Mohali' : 'Punjab Cricket Association Cricket Stadium, Mohali'},regex=True, inplace=True)

In [25]:
matchData.venue.isnull().sum()

0

In [26]:
matchData.city.isnull().sum()

13

In [27]:
matchData['city'].fillna(matchData['venue'], inplace = True)

In [28]:
matchData.city.isnull().sum()

0

In [29]:
matchData.winner.isnull().sum()

4

In [30]:
matchData.result.unique()

array(['runs', 'wickets', 'tie', nan], dtype=object)

In [31]:
matchData[matchData.winner.isna()]

          id       city        date  ... method          umpire1       umpire2
241   501265      Delhi  2011-05-21  ...    NaN        SS Hazare     RJ Tucker
486   829763  Bangalore  2015-04-29  ...    NaN        JD Cloete     PG Pathak
511   829813  Bangalore  2015-05-17  ...    NaN  HDPK Dharmasena  K Srinivasan
744  1178424  Bengaluru  2019-04-30  ...    NaN        UV Gandhe      NJ Llong

[4 rows x 17 columns]

In [32]:
matchData.winner.replace(np.nan,'tie', regex=True, inplace=True)

In [33]:
matchData[matchData.result.isna()]

          id       city        date  ... method          umpire1       umpire2
241   501265      Delhi  2011-05-21  ...    NaN        SS Hazare     RJ Tucker
486   829763  Bangalore  2015-04-29  ...    NaN        JD Cloete     PG Pathak
511   829813  Bangalore  2015-05-17  ...    NaN  HDPK Dharmasena  K Srinivasan
744  1178424  Bengaluru  2019-04-30  ...    NaN        UV Gandhe      NJ Llong

[4 rows x 17 columns]

In [34]:
matchData.result.replace(np.nan,'tie', regex=True, inplace=True)

In [35]:
matchData.result_margin.isnull().sum()

17

In [36]:
matchData[matchData.result_margin.isna()].head(5)

         id       city        date  ... method       umpire1      umpire2
66   392190  Cape Town  2009-04-23  ...    NaN     MR Benson    M Erasmus
130  419121    Chennai  2010-03-21  ...    NaN   K Hariharan    DJ Harper
241  501265      Delhi  2011-05-21  ...    NaN     SS Hazare    RJ Tucker
328  598004  Hyderabad  2013-04-07  ...    NaN  AK Chaudhary       S Ravi
341  598017  Bangalore  2013-04-16  ...    NaN     M Erasmus  VA Kulkarni

[5 rows x 17 columns]

In [37]:
matchData.result_margin.replace(np.nan,0.0, regex=True, inplace=True)

In [38]:
matchData.isnull().sum()

id                   0
city                 0
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               0
result               0
result_margin        0
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [39]:
matchData[matchData.eliminator.isna()]

          id       city        date  ... method          umpire1       umpire2
241   501265      Delhi  2011-05-21  ...    NaN        SS Hazare     RJ Tucker
486   829763  Bangalore  2015-04-29  ...    NaN        JD Cloete     PG Pathak
511   829813  Bangalore  2015-05-17  ...    NaN  HDPK Dharmasena  K Srinivasan
744  1178424  Bengaluru  2019-04-30  ...    NaN        UV Gandhe      NJ Llong

[4 rows x 17 columns]

In [40]:
matchData.eliminator.unique()

array(['N', 'Y', nan], dtype=object)

In [41]:
matchData.eliminator.replace(np.nan, 'N', regex=True, inplace=True)

In [42]:
matchData[matchData.player_of_match.isna()]

          id       city        date  ... method          umpire1       umpire2
241   501265      Delhi  2011-05-21  ...    NaN        SS Hazare     RJ Tucker
486   829763  Bangalore  2015-04-29  ...    NaN        JD Cloete     PG Pathak
511   829813  Bangalore  2015-05-17  ...    NaN  HDPK Dharmasena  K Srinivasan
744  1178424  Bengaluru  2019-04-30  ...    NaN        UV Gandhe      NJ Llong

[4 rows x 17 columns]

In [43]:
matchData.isnull().sum() / len(matchData)

id                 0.000000
city               0.000000
date               0.000000
player_of_match    0.004902
venue              0.000000
neutral_venue      0.000000
team1              0.000000
team2              0.000000
toss_winner        0.000000
toss_decision      0.000000
winner             0.000000
result             0.000000
result_margin      0.000000
eliminator         0.000000
method             0.976716
umpire1            0.000000
umpire2            0.000000
dtype: float64

In [44]:
matchData[matchData.method.notnull()].head(3)

        id       city        date  ... method         umpire1      umpire2
40  336022      Delhi  2008-05-17  ...    D/L  AV Jayaprakash  RE Koertzen
43  336025    Kolkata  2008-05-18  ...    D/L       Asad Rauf  K Hariharan
60  392183  Cape Town  2009-04-19  ...    D/L       MR Benson    SD Ranade

[3 rows x 17 columns]

In [45]:
matchData.method.replace(np.nan, 'Non D/L', regex=True, inplace=True)

In [46]:
matchData.player_of_match.replace(np.nan, 'None', regex=True, inplace=True)

In [47]:
matchData.isnull().sum() / len(matchData)

id                 0.0
city               0.0
date               0.0
player_of_match    0.0
venue              0.0
neutral_venue      0.0
team1              0.0
team2              0.0
toss_winner        0.0
toss_decision      0.0
winner             0.0
result             0.0
result_margin      0.0
eliminator         0.0
method             0.0
umpire1            0.0
umpire2            0.0
dtype: float64

In [48]:
bobData.player_dismissed.replace(np.nan,'Not out', regex=True, inplace=True)
bobData.fielder.replace(np.nan, 'No fielder', regex=True, inplace=True)

In [49]:
matchData.head()

       id        city        date  ...   method    umpire1         umpire2
0  335982   Bangalore  2008-04-18  ...  Non D/L  Asad Rauf     RE Koertzen
1  335983  Chandigarh  2008-04-19  ...  Non D/L  MR Benson      SL Shastri
2  335984       Delhi  2008-04-19  ...  Non D/L  Aleem Dar  GA Pratapkumar
3  335985      Mumbai  2008-04-20  ...  Non D/L   SJ Davis       DJ Harper
4  335986     Kolkata  2008-04-20  ...  Non D/L  BF Bowden     K Hariharan

[5 rows x 17 columns]

# Total number of matches till 2020

In [50]:
dateSplit = matchData['date'].str.split("-")
matchData['season'] = dateSplit.str.get(0)

In [51]:
match_per_season = matchData.groupby(['season'])['id'].count().reset_index().rename(columns={'id' : 'matches'})
match_per_season.style.background_gradient(cmap='PuBu')

In [63]:
colors = ['turquoise', ] * 13
colors[5] = 'crimson'

fig = px.bar(data_frame=match_per_season, x=match_per_season.season, y=match_per_season.matches, labels=dict(x="Season", y="Matches"))
fig.update_layout(title="Number of matches played in different seasons", titlefont={'size' : 26}, template="simple_white")
fig.update_traces(marker_line_color="black", marker_line_width=1.5, opacity=1, marker_color=colors)
fig.show()

# **Total number of matches Win by Each Teams**

In [ ]:
plt.figure(figsize=(12,7))
sns.countplot(y=matchData.winner, order=matchData.winner.value_counts().index)
plt.xlabel('Total Matches won by Teams', fontsize=15)
plt.ylabel('Teams', fontsize=15)
plt.show()

# **Does toss winning affects the match winner ?**

In [ ]:
teams = list(matchData.toss_winner.value_counts().index)
toss_winners = list(matchData.toss_winner.value_counts())
match_winners = list(matchData.winner.value_counts())
match_winners.pop(len(match_winners)-1)

In [ ]:
fig = plt.figure(figsize=(12, 9))

ax = fig.add_subplot()

n = 1
t = 2
d = len(teams)
w = 0.8
x_values1 = [t*element + w*n for element in range(d)] 


n = 2
t = 2
d = len(teams)
w = 0.8
x_values2 = [t*element + w*n for element in range(d)] 

ax.set_yticks(x_values1)
ax.set_yticklabels(teams)
plt.barh(x_values1, toss_winners)
plt.barh(x_values2, match_winners)
plt.show()

# **Do you know who won the most player of the match?**

In [ ]:
players = list(matchData.player_of_match.unique())
manOfMatchCount = matchData.player_of_match.value_counts()

In [ ]:
fig = plt.figure(figsize=(12, 7))

ax = fig.add_subplot()
plt.barh(range(len(players[0:10])), manOfMatchCount[0:10], color='orange')

ax.set_yticks(range(10))
ax.set_yticklabels(list(matchData.player_of_match.unique())[0:10], fontsize=15)
for index, value in enumerate(manOfMatchCount[0:10]):
    plt.text(value, index, str(value))
plt.xlabel('Total count of Man of Matches', fontsize=20)
plt.ylabel('Palyers', fontsize=25)
plt.show()

# **Toss/Win Ratio**

In [ ]:
newData = matchData[matchData.winner != 'tie']
newData.head(4)

In [ ]:
inluence_leader_freq = pd.crosstab(newData.toss_winner, newData.winner)
print(pd.DataFrame(inluence_leader_freq)/len(newData))

# **Most Titles Wins**

In [ ]:
years = list(matchData.season.unique())
finalWinners = []
teams = []
winnersFrequency = []
for year in years:
  totalMatches = len(list(matchData[matchData.season==year]['winner']))
  finalWinners.append(list(matchData[matchData.season==year]['winner'])[totalMatches - 1])

winnersCollection = collections.Counter(finalWinners).most_common()

for (key, value) in winnersCollection:
  teams.append(key)
  winnersFrequency.append(value)

In [ ]:
fig = plt.figure(figsize=(12, 9))

ax = fig.add_subplot()
plt.bar(range(len(teams)), winnersFrequency, color='maroon')

ax.set_xticks(range(len(teams)))
ax.set_xticklabels(teams, fontsize=15, rotation=40)
plt.xlabel('Teams', fontsize=20)
plt.ylabel('Number of Titles won by Teams', fontsize=25)
plt.show()

# **Top 10 Cities by Number Of matches**

In [ ]:
topCitiesCount = list(matchData.city.value_counts()[0:10])
topCities = list(matchData.city.value_counts()[0:10].index)
normalizedCount = []
totalMatchesPlayed = sum(topCitiesCount)
normalizedCount = [ (matches/totalMatchesPlayed)*100 for matches in topCitiesCount]

In [ ]:
plt.figure(figsize=(12,9))
plt.pie(normalizedCount, autopct="%0.1f%%")
plt.legend(topCities, loc="upper left")
plt.show()

# **Results Based on Duckworth-Lewis**

In [ ]:
plt.figure(figsize=(12,7))
sns.countplot(x=matchData.method)
plt.xlabel('Method by Matches Won', fontsize=20)
plt.ylabel('Total NUmber of Matches', fontsize=20)
plt.show()

In [ ]:
methodfrequency = matchData.method.value_counts(normalize=True)
methods = matchData.method.unique()
plt.figure(figsize=(12,9))
plt.pie(methodfrequency, autopct="%0.1f%%")
plt.legend(methods, loc="upper left")
plt.show()

# **Top 10 Umpire to feature in max number of matches**

In [ ]:
umpiresList1 = list(matchData.umpire1.value_counts().index)
umpiresCount1 = list(matchData.umpire1.value_counts())
umpiresList2 = list(matchData.umpire2.value_counts().index)
umpiresCount2 = list(matchData.umpire2.value_counts())

In [ ]:
umpires = {}
for name, match in zip(umpiresList1, umpiresCount1):
  umpires[name] = match 
for name, match in zip(umpiresList2, umpiresCount2):
  if name in umpires.keys():
    umpires[name] += match
  else:
    umpires[name] = match

In [ ]:
sort_umpires = sorted(umpires.items(), key=lambda x: x[1], reverse=True)
names = []
matches = []
for value in sort_umpires:
  names.append(value[0])
  matches.append(value[1])

In [ ]:
fig = plt.figure(figsize=(12, 9))

ax = fig.add_subplot()
plt.bar(range(10), matches[:10], color='lime')
plt.xlabel('Umpires', fontsize=20)
plt.ylabel('Matches', fontsize=20)
ax.set_xticks(range(10))
ax.set_xticklabels(names[:10], rotation=80, fontsize=20)
plt.show()

# **Toss Decision**

In [ ]:
fig = plt.figure(figsize=(12, 9))

ax = fig.add_subplot()
plt.bar(range(2), list(matchData.toss_decision.value_counts()), color='red')
plt.xlabel('Decision', fontsize=20)
plt.ylabel('Matches', fontsize=20)
ax.set_xticks(range(2))
ax.set_xticklabels(list(matchData.toss_decision.value_counts().index), rotation=80, fontsize=20)
plt.show()

# **Top 10 Playes with Most Runs**

In [ ]:
playersRun = bobData.groupby('batsman').batsman_runs.sum().to_dict()
sortedRuns = sorted(playersRun.items(), key=lambda x: x[1], reverse=True)

In [ ]:
players = []
runs = []
for value in sortedRuns:
  players.append(value[0])
  runs.append(value[1])

In [ ]:
fig = plt.figure(figsize=(12, 9))

ax = fig.add_subplot()
plt.bar(range(10), runs[:10], color='magenta')
plt.xlabel('Top 10 Batsman', fontsize=20)
plt.ylabel('Run Scored', fontsize=20)
ax.set_xticks(range(10))
ax.set_xticklabels(players[:10], rotation=40, fontsize=20)
plt.show()

# **Top 10 bowlers till 2020**

In [ ]:
wicketData = bobData[(bobData.player_dismissed != 'Not out') & (bobData.dismissal_kind != 'run out')]
bowlers = list(wicketData.bowler.value_counts().index)
wickets = list(wicketData.bowler.value_counts())

In [ ]:
fig = plt.figure(figsize=(12, 9))

ax = fig.add_subplot()
plt.plot(range(len(bowlers[:10])), wickets[:10], marker="o")
plt.xlabel('Top 10 bowlers', fontsize=20)
plt.ylabel('Wickets', fontsize=20)
ax.set_xticks(range(10))
ax.set_xticklabels(bowlers[:10], rotation=45, fontsize=15)
plt.show()

# **Top Most Dissmisal Reason**

In [ ]:
wicketDecision = bobData[(bobData.player_dismissed != 'Not out')]
dismisselType = list(wicketDecision.dismissal_kind.value_counts().index)
dismisselCount = list(wicketDecision.dismissal_kind.value_counts())

In [ ]:
fig = plt.figure(figsize=(12, 9))

ax = fig.add_subplot()
plt.bar(range(len(dismisselType)), dismisselCount, color='red')
plt.xlabel('Dismissel Type', fontsize=20)
plt.ylabel('Dismissel Count', fontsize=20)
ax.set_xticks(range(len(dismisselType)))
ax.set_xticklabels((dismisselType), rotation=45, fontsize=10)
plt.show()

# **Top 10 Best Fielders in the Field**

In [ ]:
fieldersData = bobData[(bobData.player_dismissed != 'Not out') & 
                   (bobData.dismissal_kind != 'bowled') & (bobData.dismissal_kind != 'retired hurt') & (bobData.dismissal_kind != 'hit wicket')
                    & (bobData.dismissal_kind != 'obstructing the field') & (bobData.dismissal_kind != 'lbw') & (bobData.fielder != 'No fielder')]
fieldersName = list(fieldersData.fielder.value_counts().index)
fieldingCount = list(fieldersData.fielder.value_counts())

In [ ]:
fig = plt.figure(figsize=(12, 9))

ax = fig.add_subplot()
plt.bar(range(len(fieldersName[:10])), fieldingCount[:10], color='cyan')
plt.xlabel('Top 10 fielders', fontsize=20)
plt.ylabel('Fielding Count', fontsize=20)
ax.set_xticks(range(len(fieldersName[:10])))
ax.set_xticklabels((fieldersName[0:10]), rotation=45, fontsize=10)
plt.show()

# **Season wise match summary of matches won by runs**

In [ ]:
years = list(matchData.season.unique())
resultMargins = []
for year in years:
  seasonData = matchData[matchData.season == year]
  resultMargins.append(list(seasonData.result_margin))

In [ ]:
fig = plt.figure(figsize=(12, 12))

ax = fig.add_subplot()
plt.xlabel('Season', fontsize=20)
plt.ylabel('Result margin', fontsize=20)

for xe, ye in zip(years, resultMargins):
    plt.scatter([xe] * len(ye), ye)

ax.set_xticks(range(len(years)))
ax.set_xticklabels(years)
plt.show()

# **Total number of runs scored across seasons**

In [69]:
season_data = matchData[['id', 'season']].merge(bobData, left_on='id', right_on='id', how='left').drop('id', axis=1)
season_data.head()

  season  inning  ...           batting_team                 bowling_team
0   2008       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1   2008       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2   2008       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3   2008       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4   2008       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 18 columns]

In [72]:
season = season_data.groupby(['season'])['total_runs'].sum().reset_index().set_index('season')

In [76]:
fig = px.line(season, x=season.index, y='total_runs', labels=dict(x="Season", y="Total Runs Scored"))
fig.update_layout(title="Total Runs Across the Seasons ",
                  titlefont={'size': 26},template='simple_white')
fig.show()

In [66]:
bobData.head()

       id  inning  ...           batting_team                 bowling_team
0  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 18 columns]

In [67]:
matchData.head()

       id        city        date  ...    umpire1         umpire2  season
0  335982   Bangalore  2008-04-18  ...  Asad Rauf     RE Koertzen    2008
1  335983  Chandigarh  2008-04-19  ...  MR Benson      SL Shastri    2008
2  335984       Delhi  2008-04-19  ...  Aleem Dar  GA Pratapkumar    2008
3  335985      Mumbai  2008-04-20  ...   SJ Davis       DJ Harper    2008
4  335986     Kolkata  2008-04-20  ...  BF Bowden     K Hariharan    2008

[5 rows x 18 columns]